#window {
    background-color: rgba(44, 40, 48, 0.5);
    border-radius: 6px;
    font-size: 18px;
    font-family: "Noto Sans";
    color: #dddde0;
}

#outer-box {
    margin: 5px;
}

#input {
    background-color: rgba(34, 30, 38, 0.65);
    color: #dddddd;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    margin: 5px;
    font-size: 22px;
}

#entry {
    background-color: transparent;
    margin: 0px 10px;
    border: none;
    border-radius: 8px;
    transition: background-color 150ms linear;
}

#scroll {
    margin-bottom: 15px;
    border: none;
}

#expander-box {
    background-color: transparent;
}

#entry:selected {
    background-color: rgba(139, 90, 237, 0.6);
}

#expander-box > entry:selected {
    background-color: rgba(109, 55, 187, 0.6);
}

#img {
    margin: 4px 10px;
}
